.landing-footer-wrapper {

	& .custom-button-wrapper {
		margin: 0 5px;

		& .custom-button-inner-wrapper {
			width: 100%;
			padding: .375rem .75rem;

			& .content-main {
				font-size: 0.8rem;
				white-space: nowrap;
			}
		}
	}

	& .footer-btn {
		display: flex;
		margin-bottom: 10px;
	}

	& .footer {
		background-color: $theme-base-color-primary;
		padding: 1rem 1rem;

		& p {
			color: $theme-base-color-lightest;
			margin: 0px 10px 10px;
			font-size: 10px;
		}

		& img {
			float: left;
			margin: 0px 10px;
		}

		& .container {
			padding-right: 15px;
			padding-left: 15px;
		}

	}


	& .nav-link {
		color: $theme-base-color-lightest;
		font-size: 12px;
		padding: 0.7rem;

		&:hover {
			color: $theme-base-color-tertiary;
		}
	}

	& .cosball-emblem {
		background-image: url('~@/assets/img/logo.png');
		width: 40px;
		height: 40px;
		float: left;
		margin: 0px 10px;
		background-size: cover;
		background-repeat: no-repeat;
	}

	@media (max-width:512px) {
		.nav {
			padding-left: 35px;
		}
	}
}
