.forgot-password-wrapper {
	background-image: url('~@/assets/img/background.webp');
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	transition-timing-function: linear;
	transition-delay: 0.3s;

	& .header-logo {
		display: block;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url('~@/assets/img/logo.png');
		width: 140px;
		height: 140px;
		margin-left: auto;
		margin-right: auto;
		overflow: visible;
	}

	& .custom-button-wrapper {
		margin: 0;
		width: 300px;

		& .custom-button-inner-wrapper {
			padding: .7rem .75rem;

			& .content-main {
				font-size: 1rem;
				font-weight: 600;

			}
		}
	}

	& .disabled {
		& .custom-button-inner-wrapper {
			background-color: $theme-font-color-primary-light;
			color: $theme-base-color-lightest;

			&:hover {
				background-color: $theme-font-color-primary;
			}
		}

	}

	& .cosball-content {
		color: $theme-base-color-lightest;
		margin-top: 70px;
		margin-bottom: 130px;

		& p {
			font-size: 1.1rem;
			font-weight: 400;
			color: $theme-base-color-lightest;
			margin-bottom: 10px;
		}

		& h1 {
			font-size: 2.5rem;
			font-weight: 600;
			color: $theme-base-color-tertiary;
			margin-bottom: 10px;
		}

		& a {
			color: $theme-base-color-tertiary;
		}
	}

	@media (max-width: 512px) {

		& .header-logo {
			height: 35%;
		}
	}
}
