.table {
	& th {
		background-color: $theme-base-color-lightest;
		border-top: 0;
		color: #798992;
		font-weight: bold;
		font-size: 14px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;

		
		&[aria-sort]:hover {
		color: #428bca;
		border-color: #428bca;
		background-color: #fafafa;
	  }
	  
		&[aria-sort="ascending"],
		&[aria-sort="descending"] {
			color: #428bca;
			border-color: #428bca;
			background-color: #fafafa;
		}

		&[aria-sort]::after {
			content: "\f0dc";
			color: #428bca;
			border-color: #428bca;
			background-color: #fafafa;
		}

		&[aria-sort="ascending"]::after,
		&[aria-sort="descending"]::after {
			color: #428bca;
			border-color: #428bca;
			background-color: #fafafa;
		}
	}

	& td {
		border-top: 2px solid $theme-border-color-primary-lighter;
	}
}

.tooltip {
	pointer-events: none;
}

.card {
	background-color: $theme-base-color-primary;

	.card-title {
		font-family: "Montserrat";
		font-weight: 600;
		font-size: 0.7rem
	}
}

.tab-content {
	& .fade {
		transition: opacity 0.5s linear;
	}
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: $theme-base-color-tertiary;
	background-color: $theme-base-color-tertiary;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 1px #d29901;
    outline: 0 none;
}

.custom-font {
	font-family: "Dosis", "Arial", sans-serif;
}