.skindata-wrapper {
	& .body {
		background-color: $theme-base-color-background;

		& .skindata-content {
			padding: 30px 50px;

			& .header-container {
				padding-bottom: 15px;

				& .header {
					color: $theme-base-color-lightest;
					font-weight: 500;
				}
			}

			& .table-container {
				display: block;
				padding: 20px;
				background-color: $theme-base-color-primary;

				& .per-page-container {
					padding-bottom: 20px;

					& .records-per-page-dropdown {
						width: 60px;
					}

					& .text {
						color: $theme-base-color-lightest;
						font-size: $theme-font-size-xtra-small;
						padding-left: 10px;
					}
				}

				& .filter-wrapper {
					& .custom-select {
						border-radius: 0;
						border-left: 0;
					}

					& .search-button {
						border-top-left-radius: 0;
						border-bottom-left-radius: 0;
						border: 0;
					}

					& .search-button,
					& .reset-button {
						color: $theme-base-color-secondary;
						cursor: pointer;
					}


				}

				& .filter-by-wrapper {

					& .filter-by,
					& .delete {
						vertical-align: bottom;
						font-size: 10px;
						font-weight: bold;
					}

					& .filter-by {
						background-color: #7B93AF;
						border: 1px solid white;
						padding: 2px 5px;
						display: inline-block;
						margin: 10px 15px 0 0;
						border-radius: 3px;
					}

					& .delete {
						color: red;
						font-size: 10px;
						padding-left: 10px;
						cursor: pointer;
					}
				}

				& .skindata-table {
					background-color: $theme-base-color-lightest;
					font-size: $theme-font-size-small;

					& td {
						padding: 0.5rem;
					}

					& .icon-view {
						color: $theme-base-color-secondary;
						cursor: pointer;
					}

					& .link {
						color: $theme-base-color-secondary;
						text-decoration: underline;
						cursor: pointer;
					}
				}
			}

			& .pagination-container {
				width: 100%;
				padding-top: 20px;

				& .add-button {
					width: 150px;
					float: left;

					&.disabled {
						& .custom-button-inner-wrapper {
							background-color: $theme-font-color-primary-light;
							color: $theme-base-color-lightest;
						}
					}

					& .content-main {
						font-size: $theme-font-size-small;
						font-weight: bold;
					}
				}

				& .pagination-table {
					float: right;

					& .page-item {
						& .page-link {
							color: $theme-base-color-darkest;
						}

						&.disabled {
							& .page-link {
								color: $theme-base-greyscale-normal;
							}
						}

						&.active {
							& .page-link {
								background-color: $theme-base-color-primary;
								border-color: $theme-base-color-primary;
								color: $theme-base-color-tertiary;
								box-shadow: 0px 1px 10px 0px $theme-base-color-background;
							}
						}
					}


				}

				& .pagination-configuration {
					padding-right: 15px;

					& .entries {
						padding: 10px 20px 10px 10px;
						color: $theme-base-color-lightest;
						font-size: $theme-font-size-xtra-small;
					}

					& .select-box {
						padding-right: 20px
					}

					& .pages {
						width: auto;
					}
				}

				@media (max-width: 992px) {
					& .add-button {
						width: 100%;
						float: none;
					}

					& .pagination-configuration {
						padding-top: 20px;
						justify-content: center !important;
					}
				}

				@media (max-width: 768px) {
					& .pagination-configuration {
						display: inline-block;
						padding: 0;
						margin: 0;
						width: 100%;

						& .entries {
							text-align: center;
						}

						& .select-box {
							padding-right: 0;

							& .pages {
								justify-content: center;
								width: 100%;
							}
						}

						& .pagination-table {
							padding-top: 20px;
							float: none;
							justify-content: center;
						}


					}
				}
			}
		}

		.skindata-list-wrapper {
			background: transparent;
			color: $theme-base-greyscale-normal;

			.row-skindata {
				padding: 25px 10px;

				& .icon {
					vertical-align: middle;
					height: 23px;
					width: 25px;
				}

				& .label {
					text-transform: capitalize;
					font-weight: 600;
					color: $theme-base-color-secondary;
					font-size: 18px;
				}

				& .desc {
					font-size: 13px;
					line-height: 20px;
				}
			}

			.divider-line {
				border-top: 0 !important;
			}
		}
	}

}
