.edit-user-modal-wrapper {
	.header {
		width: 100%;
        & .modal-title{
            display: inline;
        }
        & .required{
            float: right;
            margin-top: 15px
        }
		& button {
			position: absolute;
			right: 16px;
		}
	}

	.form-body {
		padding: 5px;

		& label {
			color: $theme-base-color-lightest;
			font-size: 13px;
			margin: 5px 3px;
		}

		& .value {
			color: $theme-base-color-tertiary;
		}

		& input,
		& select {
			border-color: #d29901;
			box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 1px #d29901;
			outline: 0 none;

			&::placeholder {
				color: $theme-font-color-primary-lighter;
            }
                          
            & option {
                &:focus{
                    background-color: $theme-base-color-darkest; 
                }
            }
		}

		& .account-icon-container {
			width: 100px;

			& .account-icon,
			& .profile-image {
				background-repeat: no-repeat;
				background-size: cover;
				background-image: url('~@/assets/img/acc-settings.png');
				width: 120px;
				height: 120px;
			}

			& .profile-image {
				border-radius: 20px;
			}
		}
	}

	& .modal-footer {
		justify-content: center;

		& .button-container {
			display: inline-flex;

			& .add-button,
			& .cancel-button {
				width: 200px;
            }
            
            & .disabled {
                & .custom-button-inner-wrapper{
                    background-color: $theme-font-color-primary-light;
                    color: $theme-base-color-lightest;
                }
            }

		}

	}

	@media (max-width: 991px) {

		& .modal-footer {
			display: block;

			& .button-container {
                display: block;
				& .add-button,
				& .cancel-button {
					width: 100%;
					padding-top: 20px;
				}

			}

		}
	}

}
