.first-time-login-message-wrapper {
	background-image: url('~@/assets/img/background.webp');
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;

	& .header-logo {
		display: block;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url('~@/assets/img/logo.png');
		width: 140px;
		height: 140px;
		overflow: visible;
	}

	& .mt-7 {
		margin-top: 7rem;
	}

	& .cosball-content {
		color: $theme-base-color-lightest;
		margin-top: 70px;

		& p {
			font-size: 1.5rem;
			font-weight: 400;
			color: $theme-base-color-lightest;
			margin-bottom: 10px;
		}

		& h1 {
			font-size: 2.5rem;
			font-weight: 600;
			color: $theme-base-color-tertiary;
			margin-bottom: 10px;
		}

		& a {
			color: $theme-base-color-tertiary;

			& :hover {
				color: $theme-base-color-tertiary-dark;
			}
		}
	}

	& .icon-left {
		color: $theme-base-color-success;
		font-size: 130px;
		text-align: center;
		position: relative;
		bottom: 30px;
	}

	@media (max-width: 512px) {
		& .icon-left {
			font-size: 100px;
			bottom: 0px;
		}
	}

}
