.add-inquiry-successful-modal-wrapper {
	& .icon {
		color: $theme-base-color-success;
		font-size: 100px;
		text-align: center;
	}

	& .text-container {
		padding: 20px;
		text-align: center;
		color: $theme-base-color-lightest;

		& .text-yellow {
			color: $theme-base-color-tertiary;
		}
	}

	& .ok-button {
		width: 120px;
	}

	@media (max-width: 992px) {
		& .text-container {
			padding-bottom: 20px;
		}

		& .ok-button {
			width: 100%
		}
	}

}
