.reset-password-page-wrapper {
	background-image: url('~@/assets/img/background.webp');
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	transition-timing-function: linear;
	transition-delay: 0.3s;

	& .header-logo {
		display: block;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url('~@/assets/img/logo.png');
		width: 140px;
		height: 140px;
		overflow: visible;
	}

	& .icon {
		font-size: 15em;
		text-align: right;
	}

	& .custom-button-wrapper {
		width: 300px;
		margin: 10px 0px;

		& .custom-button-inner-wrapper {
			width: auto;
			padding: .6rem .75rem;

			& .content-main {
				font-size: 1rem;
				font-weight: 600;

			}
		}
	}

	& .disabled {
		& .custom-button-inner-wrapper {
			background-color: $theme-font-color-primary-light;
			color: $theme-base-color-lightest;

			&.inverse-color {
				&:hover {
					background-color: $theme-font-color-primary !important;
				}
			}
		}

	}

	& .cosball-content {
		color: $theme-base-color-lightest;
		margin-top: 70px;

		& p {
			font-size: 1.1rem;
			font-weight: 400;
			color: $theme-base-color-lightest;
			margin-bottom: 10px;
		}

		& h1 {
			font-size: 2.5rem;
			font-weight: 600;
			color: $theme-base-color-tertiary;
			margin-bottom: 10px;
		}

		& a {
			color: $theme-base-color-tertiary;

			& :hover {
				color: $theme-base-color-tertiary-dark;
			}
		}
	}

	@media (max-width: 991px) {

		& .header-logo {
			height: 100px;
			width: 400px;
		}

		& .icon {
			display: none;
		}
	}
}
