.edit-skindata-modal-wrapper {
	.header {
		width: 100%;
        & .modal-title{
            display: inline;
        }
        & .required{
            float: right;
            margin-top: 15px
        }
		& button {
			position: absolute;
			right: 16px;
		}
	}

	.form-body {
		padding: 15px;

		& label {
			color: $theme-base-color-lightest;
			font-size: 15px;
			margin: 10px 0;
		}

		& .highlight {
			color: #f8e9c1;
			font-size: 15px;
		}

		& input,
		& select {
			border-color: #d29901;
			box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 1px #d29901;
			outline: 0 none;

			&::placeholder {
				color: $theme-font-color-primary-lighter;
            }
                          
            & option {
                &:focus{
                    background-color: $theme-base-color-darkest; 
                }
			}
			&:disabled{
				background-color: #f3cb61;
				opacity: 1;
				color: $theme-base-color-darkest;
			}
		}

		& .cosball {
			height: 26px;
			width: 26px;
			margin: 1px;
			display: inline-block;
			text-align: center;
			vertical-align: middle;
			border-radius: 50%;
			background: blue;
			color: white;
		}
	}

	& .modal-footer {
		justify-content: center;

		& .button-container {
			display: inline-flex;

			& .add-button,
			& .cancel-button {
				width: 200px;
            }
            
            & .disabled {
                & .custom-button-inner-wrapper{
                    background-color: $theme-font-color-primary-light;
                    color: $theme-base-color-lightest;
                }
            }

		}

	}

	@media (max-width: 991px) {

		& .modal-footer {
			display: block;

			& .button-container {
                display: block;
				& .add-button,
				& .cancel-button {
					width: 100%;
					padding-top: 20px;
				}

			}

		}
	}

}
